$color-primary: rgb(254, 182, 51);

.aboutContainer {
    max-width: 90vw;
    margin: 5rem 2rem;
    padding: 2rem 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @media (min-width: 990px) {
        padding: 0 4rem;}
    .aboutText {
      margin-bottom: 5rem;
      .aboutTextSection{
          
          margin-bottom: 5rem;
          max-width: 60vw;
          text-align: center;
      h2 {
        font-size: 1.7rem;
        line-height: 3rem;
        color: #32333c;
      }
      h4 {
        font-size: 1.2rem;
        color: #666;
        //max-width: 30rem;
        margin-top: 0;
        .aboutLinks{
            text-decoration: none;
            cursor: pointer;
            &:active,
            &:hover,
            &:visited,
            &:link{
                color: $color-primary;
            }
        }
      }}}}