@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Orbitron:wght@400..900&display=swap');


body {

  margin: 0;

  font-weight: 200;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-weight: 200;
  font-style: normal;
}

code {

  font-weight: 200;
  font-style: normal;
}